body{
    background-image: url("white-beach.JPEG");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: 'Fjalla One', sans-serif;
}
#datesList{

    visibility:visible;
    
}

#btncar {
    margin-bottom: 15px;

}
#yes/no{
    position: relative;
    left: 50%;

}
#pagi{
    margin-top: 5px;

}
